@page
@model Apartmani.Pages.Images.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Upload Images</h1>

<p>
    <a asp-page="./Create" class="btn btn-success">Upload new image</a>
</p>
<input class="mt-3 mb-3 float-right" id="table-filter" type="text" placeholder="Filter category.." />
<table class="table" id="image-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image[0].Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image[0].ImageCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Image)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageCategory.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#table-filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#image-table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}